.wrapper{
    padding-top: 40px;
}
.appointmentHeader{
    font-size: 2rem;
    font-weight: 800;
    color: #444444;
    justify-content: center;
    text-align: -webkit-center;
}
.button{
    padding-top: 40px;
    justify-content: center;
}
