<!-- <h2 mat-dialog-title>{{data.displayName}}</h2> -->
<mat-dialog-content>
  <div class="main">
    <div class="exist">
        <div class="title">Are you an existing client?</div>
        <div class="cta"><!-- Start Square Appointments Embed code --> <a target="_top" style=" background-color: #E10015; color: white; height: 40px; text-transform: uppercase; font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif; letter-spacing: 1px; line-height: 38px; padding: 0 28px; border-radius: 3px; font-weight: 500; font-size: 14px; cursor: pointer; display: inline-block; " target="_blank" href="https://square.site/book/3H9ESDFAMCSGB/divine-design">Book an Appointment</a> <!-- End Square Appointments Embed code --></div>
    </div>
    <div class="divider"></div>
    <div class="new">
        <div class="title">Is this your first time?</div>
        <div class="cta">
            <img class="" src="assets/img/smartphone.svg" alt="phone">
            <div class="phoneNumber"><a href="tel:1-304-481-1215"></a>(304) 481-1215</div>
        </div>
    </div>
</div>
</mat-dialog-content>