.main{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
    margin-bottom: 20px!important;
}
.hero-container{
width: 100%;
grid-column-start: 1;
grid-column-end: 1;
}
.hero{
    margin-top: 90px;
    margin-left: 5%;
    height: 100vh;
}
.container{
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: auto auto 10px;
    grid-row-gap: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
.title{
    margin-top: 90px;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 100px;
    font-weight: bold;
    .divine{
        margin-bottom: -40px;
        color:#4F4F4F;
        text-align: left;
    }
    .design{
        margin-top: -40px;
        text-align: center;
        color:#E90B3A;
    }
    .title-svg{
        width: 50vw;
    }
}
.subtext{
    margin-top: -50px;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 3vw;
    color:#4f4f4f80;

}
}

.cta-container{
    justify-self: center;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-top: -30px;
height: 30px;
/* -webkit-animation: bounce
    10s infinite  alternate;
animation: bounce 10s infinite  alternate; */
.cta-down:hover{
    cursor: pointer;
    opacity: .5;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes bounce{
  20%{
      -webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
      animation-timing-function: cubic-bezier(0.215,.61,.355,1);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }
  53%{
    -webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
    animation-timing-function: cubic-bezier(0.215,.61,.355,1);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
  80%{
    -webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
    animation-timing-function: cubic-bezier(0.215,.61,.355,1);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
  0%{
    -webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
    animation-timing-function: cubic-bezier(0.215,.61,.355,1);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
  100%{
    -webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
    animation-timing-function: cubic-bezier(0.215,.61,.355,1);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
  40%{
    -webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
    animation-timing-function: cubic-bezier(0.215,.61,.355,1);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
  43% {
      -webkit-animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
      animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
      -webkit-transform: translate3d(0,-30px,0);
      transform: translate3d(0,-30px,0);
  }
  70% {
      -webkit-animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
      animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
      -webkit-transform: translate3d(0,-15px,0);
      transform: translate3d(0,-15px,0);
  }
  90% {
      -webkit-transform: translate3d(0,-4px,0);
      transform: translate3d(0,-4px,0);
  }
}
}




@media (max-width: 1280px) {

    .main{
        display: grid;
        grid-template-rows: auto auto;
        grid-row-gap: 15px;
    }
    .hero-container{
    margin-top: 30px;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
    }
    .hero{
        margin-top:0;
        margin-left: 0;
        //width: 100%;
        height: 65vh;
    }
    .container{
        grid-column-start: 1;
        grid-column-end: 1;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns:auto;
        grid-row-gap: 5px;
    .title{
        margin-top: 50px;
        margin-left: 5%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        .divine{
            font-size: 15vw;
        }
        .design{
            font-size: 15vw;
            margin-left: 25px;
        }
        .title-svg{
            width: 50vw;
        }
    }
    .subtext{
        font-size: 5vw;
        grid-column-start: 2;
        grid-column-end: 2;
        //grid-row-start: 1;
        //grid-row-end: 1;
        //margin-top: 60px;        
    }
    }
    .cta-container{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-top: 30px;
        justify-content: center;
    }

    
}