<h2 mat-dialog-title>{{data.displayName}}</h2>
<mat-dialog-content>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis dolore optio ad perferendis ipsum quisquam, sint repellendus at minus provident quia, officiis voluptatibus maxime asperiores sed quae? Maxime repudiandae quos aliquam esse impedit facilis fugiat perspiciatis rem ipsa, architecto, nostrum et quaerat, vero obcaecati expedita animi minus cupiditate iure dignissimos.</p>
    
    
        <ng-container *ngFor="let item of items">
            <div class="container">
            <div *ngIf="!item.sub" class="name">{{item.name}}</div>
            <div *ngIf="item.sub" class="name-sub">{{item.name}}</div>
            <div class="spacer"></div>
            <div class="value">{{item.value}}</div>
        </div>
        </ng-container>
        
    

</mat-dialog-content>
